@{
    ViewData["Title"] = "Главная";
}
<style class="body">
    body{
        background-image: url('../image/FirstImage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: navy;
    }

    .UpText{
        background-color: ghostwhite;
        
        
    }

   
</style>

<div class="text-center UpText">
    <h2>Приветствую</h2>
    <h2>на лучшей фриланс площадке!</h2>
    <h2>Здесь вы можете найти как своего специалиста, так и стать им, либо же просто разместить задание,  заполнив нужную форму, и ждать заявок на нашем сайте.</h2>
</div>
<div class="text-center">
    <a type="button" class="btn btn-warning" asp-area="Identity" asp-page="/Account/Login">Выбрать исполнителя</a>
    <a type="button" class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">Стать исполнителем</a>
</div>