<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GraduationProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div >
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">YourFreelancer</a>
            <nav>
                @if (User.IsInRole("customer"))
                {
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Orders" asp-action="AddNewOrder">Разместить задание</a>
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Orders" asp-action="MyOrdersList">Мои заказы</a>
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Profile" asp-action="List">Выбрать специалиста</a>
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Roles" asp-action="Index">Просмотреть отклики</a>
                }
                @if (User.IsInRole("specialist"))
                {
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Profile" asp-action="Add">Анкета</a>
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Orders" asp-action="OrdersList">Выбрать Заказ</a>
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Orders" asp-action="MyOrdersList">Просмотреть отклики</a>
                }
                @if (User.IsInRole("admin"))
                {
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Roles" asp-action="Index">Роли</a>
                    <a type="button" class="btn btn-success btn-sm" asp-area="" asp-controller="Roles" asp-action="Index">Категории</a>
                }
            </nav>
        </div>
        <div class="userPlace">
            <partial name="_LoginPartial.cshtml" />
        </div>
    </header>
    <div class="container mt-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-info">
        <div class="container">
            <a href="https://vk.com/iamkruzo" class="text-info">
                &copy; все права защищены by Kruzo
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
