@model IEnumerable<GraduationProject.Data.Domains.Response>

@{
    ViewData["Title"] = "Отклики";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ваши отклики:
    <span class="border-secondary">@Model.Count()</span>
</h1>

@foreach (var item in Model) {
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Отклик</div>
      <div class="card-body text-dark">
        <p class="card-text">@item.Message</p>
      </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a asp-controller="Chat" asp-action="Index" type="button" class="btn btn-outline-dark">Чат</a>
            @if (User.IsInRole("customer"))
            {
                <a asp-area="" asp-controller="Comments" asp-action="Create" 
                asp-route-id="@item.SenderId"
                type="button" class="btn btn-outline-dark">Оставить Отзыв</a>
            }
        </div>
    </div>
}
