@model List<string>

@foreach(var c in Model)
{
    <div class="row mb-2">
        <a asp-controller="Orders" asp-action="OrdersList" type="button"
           asp-route-bug="@c" asp-route-gate="1"
       class="btn btn-outline-primary">
            @c
        </a>
    </div>
}



