@using GraduationProject.Models.ViewModel
@model CommentListViewModel

@{
    ViewData["Title"] = "Отзывы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Отзывы пользователя:
    <span>@Model.getComments.Count()</span>
</h1>

<table class="table" style="background-color: oldlace">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Пользователь
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.getComments) {
        <tr>
            <td>
                @if (item.IsPositive)
                {
                    <span style="background-color: green" class="badge" >+</span>
                }
            </td>
            <td>
                @foreach (var user in Model.getUsers.Where(n => n.Id == item.OwnerId))
                {
                    @user.FirstName.ToString()  
                }
            </td>
            <td>
                @item.Text
            </td>
        </tr>
}
    </tbody>
</table>
