@{
    ViewData["Title"] = "Чатик";
    Layout = "~/Views/Shared/ChatLayout.cshtml";
}

@for(int i = 0; i<15; i++)
{
    <div class="chat-body">
        <div class="message">
            <header>Danil:</header>
            <p>Тестовое сообщение!</p>
            <footer>16:00</footer>
        </div>
    </div>
}

<div class="chat-input">
    <input type="text" />
    <button>Отправить</button>
</div>