@using GraduationProject.Models.ViewModel
@model OrdersListViewModel
@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.orderCategory</h1>


<div class="row mt-5 mb-2">
    <div class="col-3">
        @await Component.InvokeAsync("MenuCategories")
    </div>
    <div class="col-9">
        @{
            foreach (var order in Model.getAllOrders)
            {
                @Html.Partial("Order", order)
            }
        }
    </div>
</div>