@using GraduationProject.Models.ViewModel
@model OrdersListViewModel
@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.orderCategory</h1>


<div class="row mt-5 mb-2">
    <div id="bug" class="col-3">
        @await Component.InvokeAsync("MenuCategories")
    </div>
    <div class="col-9">
        @{
            foreach (var order in Model.getAllOrders)
            {
                @Html.Partial("Order", order)
            }
        }
    </div>

    <nav class ="mb-2" aria-label="Page navigation">
        <h5>Страница:</h5>
        <ul page-model="Model" page-action="OrdersList"></ul>
    </nav>
</div>